@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fakture</h1>
    <p class="lead">Unosenje i pregledavanje faktura sa stavkama</p>
    <p><a href="Faktura/Index" class="btn btn-primary btn-lg">Fakture &raquo;</a></p>
</div>

